:host {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--sky-color);

  &::before {
    position: absolute;
    top: 78%;
    left: 0;
    width: 100%;
    height: 22%;
    content: '';
    background-color: var(--grass-color);
  }

  &::after {
    position: absolute;
    bottom: 22%;
    left: 0;
    width: 200%;
    height: calc(var(--background-image-height-pixels) * 1px);
    content: '';
    background-image: url('/assets/images/png/backgrounds/background-day.png');
    background-repeat: repeat-x;
    animation-name: background-image-move-left;
    animation-duration: calc(
      (var(--background-image-width-pixels) * 1s) /
        var(--speed-pixels-per-second)
    );
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@keyframes background-image-move-left {
  to {
    transform: translateX(calc(var(--background-image-width-pixels) * -1px));
  }
}
