/**
 * This file contains the application's resolutions boundaries.
 * 
 * NOTE: SCSS does not provide a global definition of variables,
 * so it necessary to add imports to each styles file in which it will be used.
 *
 * NOTE: Variable names are indicative and do not define device boundaries.
 *
 * Usage example (regardless of the location of styles file):
 *
 * @use 'resolutions';
 * ...
 * @media (max-width: resolutions.$width-tablet-xl) {
 *     ...
 * }
 */

// Mobile resolutions
$width-mobile-xs: 280px;
$width-mobile-sm: 320px;
$width-mobile-md: 375px;
$width-mobile-lg: 414px;
$width-mobile-xl: 480px;

// Tablet resolutions
$width-tablet-xs: 601px;
$width-tablet-sm: 768px;
$width-tablet-md: 864px;
$width-tablet-lg: 992px;
$width-tablet-xl: 1024px;

// Desktop resolutions
$width-desktop-xs: 1280px;
$width-desktop-sm: 1366px;
$width-desktop-md: 1440px;
$width-desktop-lg: 1536px;
$width-desktop-xl: 1920px;
