/**
 * This file contains the application's scrollbars styles. It is imported into styles.scss.
 * 
 * NO NEED to import it into other style files!
 */

@use 'colors';

:root {
  --scrollbar-height: 0.4rem;
  --scrollbar-width: 0.4rem;
  --scrollbar-track-color: transparent;
  --scrollbar-thumb-color: #9b9b9b; // TODO: replace by var

  /* Firefox */
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

/* Chrome, Safari, Opera and Edge */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-height);
}

/* Chrome, Safari, Opera and Edge */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

/* Chrome, Safari, Opera and Edge */
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 0.2rem;

  &:hover {
    --scrollbar-thumb-color: #808080; // TODO: replace by var
  }
}
