/**
 * This file contains the application's typography styles. It is imported into styles.scss.
 * 
 * You DON'T NEED to import it into other style files!
 */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --font-family-primary: 'Roboto', helvetica, arial, sans-serif;
  --font-family-secondary: helvetica, arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-secondary);
  font-weight: bold;
  letter-spacing: -0.02em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
  letter-spacing: 0.02rem;
}

h6 {
  font-size: 0.7rem;
  letter-spacing: 0.02rem;
}
