:host {
  position: absolute;
  left: calc(50% - var(--bird-width-pixels) * 1px / 2);
  display: block;
  width: calc(var(--bird-width-pixels) * 1px);
  height: calc(var(--bird-height-pixels) * 1px);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  animation: bird-wings 0.3s var(--animation-play-state) linear infinite;
}

@keyframes bird-wings {
  0%,
  100% {
    background-image: url('/assets/images/png/birds/bluebird-downflap.png');
  }

  25%,
  75% {
    background-image: url('/assets/images/png/birds/bluebird-midflap.png');
  }

  50% {
    background-image: url('/assets/images/png/birds/bluebird-upflap.png');
  }
}
