:host {
  display: flex;
  width: 100%;
  height: var(--height);
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: var(--groundColor);

  &::before {
    content: '';
    position: absolute;
    height: calc(var(--groundImageHeightPixels) * 1px);
    width: 200%;
    left: 0;
    top: 0;
    background-image: url('/assets/images/png/grounds/ground-green.png');
    background-size: contain;
    animation: translate-left
      calc((var(--groundImageWidthPixels) * 1s) / var(--speedPixelsPerSecond))
      linear infinite;
  }
}

@keyframes translate-left {
  to {
    transform: translateX(calc(var(--groundImageWidthPixels) * -1px));
  }
}
