:host {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: var(--height);
  overflow: hidden;
  background-color: var(--ground-color);

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: calc(var(--ground-image-height-pixels) * 1px);
    content: '';
    background-image: url('/assets/images/png/grounds/ground-green.png');
    background-repeat: repeat-x;
    animation-name: ground-image-translate-left;
    animation-duration: calc(
      (var(--ground-image-width-pixels) * 1s) / var(--speed-pixels-per-second)
    );
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@keyframes ground-image-translate-left {
  to {
    transform: translateX(calc(var(--ground-image-width-pixels) * -1px));
  }
}
